/* Navigation Section*/

.top navigation .links > li {
	background-color: #fff;
	float: right;
}

ul {
	list-style: none;
	list-style-type: none;
	list-style-position: none;
}

.links > li {

display: inline-block;

}

.top navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}

